// main
.border-all { border-style: solid; border-width: 1px; }
.border-top { border-top-style: solid; border-top-width: 1px; }
.border-right { border-right-style: solid; border-right-width: 1px; }
.border-bottom { border-bottom-style: solid; border-bottom-width: 1px; }
.border-left { border-left-style: solid; border-left-width: 1px; }
.border-none { border-style: none; border-width: 0; }

// width
.border-1 { border-width: 1px; }
.border-2 { border-width: 2px; }
.border-4 { border-width: 4px; }

// radius
.rounded-0 { border-radius: 0; }
.rounded-2 { border-radius: 2px; }
.rounded-4 { border-radius: 4px; }
.rounded-full { border-radius: 9999px; }
.rounded-bottom { border-top-left-radius: 0; border-top-right-radius: 0; }
.rounded-top { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.rounded-right { border-bottom-left-radius: 0; border-top-left-radius: 0; }
.rounded-left { border-bottom-right-radius: 0; border-top-right-radius: 0; }

// color
// scss-lint:disable SelectorFormat
.focus\:border-primary-4:focus { border-color: var(--color-primary-4); }
.focus-within\:border-primary-4:focus-within { border-color: var(--color-primary-4); }
// scss-lint:enable SelectorFormat
