// flexbox
// scss-lint:disable ZeroUnit
.flex-fill { flex: 1 1 0px; min-height: 0; min-width: 0; }
// scss-lint:enable ZeroUnit

// typography
.list-none { list-style-type: none; margin: 0; padding: 0; }
.align-inherit { vertical-align: inherit; }

// interactions
// scss-lint:disable SelectorFormat
.hover\:opacity-100:hover { opacity: 1; }
.hover\:text-underline:hover { text-decoration: underline; }
.hover\:text-none:hover { text-decoration: none; }
.focus\:shadow-spread { box-shadow: 0 0 0 12px transparent; }
.focus\:shadow-spread:focus { box-shadow: 0 0 0 2px var(--color-primary-1); }
.focus-within\:shadow-spread { box-shadow: 0 0 0 12px transparent; }
.focus-within\:shadow-spread:focus-within { box-shadow: 0 0 0 2px var(--color-primary-1); }
// scss-lint:enable SelectorFormat
