.focus\:outline-none:focus {
  outline: none;
}

.focus\:outline-light {
  outline: 12px solid transparent;
  outline-offset: 2px;
}

.focus\:outline-light:focus {
  outline: 2px solid var(--color-primary-2);
}

.js-focus-visible .focus\:outline-light:not(.focus-visible):focus {
  outline-color: transparent;
}

.focus\:outline-dark {
  outline: 12px solid transparent;
  outline-offset: 2px;
}

.focus\:outline-dark:focus {
  outline: 2px solid var(--color-gray-7);
}

.js-focus-visible .focus\:outline-dark:not(.focus-visible):focus {
  outline-color: transparent;
}